body{
  margin: 0;
  padding: 50px;
  background-color: #909090; 
  font-family: sans-serif; 
  /* background: linear-gradient(to bottom, #bdc3c7, #686c6e) */
}

#container{
  display: flex;
  justify-content: flex;
}

#tab {
  width: 450px;
}
tr td:last-child{
  background: #909090;
  border: none;
  padding: 0px;
  width:0px;
  height: 30px;
  padding-top:7px;
}

.the{
  background: pink;
}

.input-group{
  padding-bottom: 5px;
}

